
#SuperLoginPage {
  margin-top: 50px;
  font-family: 'Calibri', sans-serif;
  font-weight: bold;  
}

.ipsychlogo{
  margin-right: 80px;
  width: 580px;
  height: 580px;
}
.col{
text-align: center;
}

.deptname{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  text-align: center;
  padding-left: 28px;
  font-family: 'Tahoma', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 27px;
}

.log-box{
  border-color: black;
  border-style: ridge;
  margin-top: 60px;
  border-radius: 28px;
  
  }
  
  .labelname{
    text-align: left;
    padding-left: 50px;
  }
  
  p{
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
    color: #075607;
  }
  
  label{
      font-family: 'Times New Roman', sans-serif;
      font-weight: bold;
      font-size: 16px;
      display: inline-block;
      text-align: left;
  }
  input{
    font-family: 'Times New Roman', sans-serif;
    font-size: 14px;
    align-items: center;
  }
  
  /* Full-width input fields */
  
  input[type=text],
  input[type=password] {
      width: 80%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: list-block;
      border: none;
      background: #f1f1f1;
     
  }
  
  .registerbtn {
    background-color: #075607;
    color: white;
    font-family:'Times New Roman';
    font-weight: bold;
    font-size: 18px;
    padding: 16px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    width: 80%;
    border-radius: 10px;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  
  .forgotname {
    color: black;
    text-decoration: none;
  }

  .error{
    background: violet;
    color: #075607;
    width: 90%;
  }

/* Media Query for Mobile size */
@media (max-width: 767px) {
  .ipsychlogo {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #SuperLoginPage{
    margin-bottom: 70px;
    align-items: center;
  }
}

/* Media Query for Tablet small size */
@media (min-width: 768px) and (max-width: 1023px) {
  .ipsychlogo {
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #SuperLoginPage{
    margin-bottom: 70px;
    
  }
 
}

/* Media Query for Tablet large size */
@media (min-width: 1024px) {
  .ipsychlogo {
    width: 580px;
    height: 580px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #SuperLoginPage{
    margin-bottom: 50px;
  }
 
}


